@font-face {
    font-family: font1;
    
    src: url(./fonts/poppins/Poppins-Regular.ttf);
}
*{
    /* background: #eeeeee; */
    box-sizing: border-box;
    font-family: 'font1';
}
    /*!---------START NAVABR 1  */

#nav1{
    margin: 0px;
    padding: 0px;
    height: 35px;
   display: flex;
   flex-wrap: wrap;
}


/*!--------- for email ------------*/
.navbar .email{

    margin-left: 95px;
}
.email img{
    
    position: relative;
    top: -2px;
    width: 14px;
}
.email p{
    position: relative;
    top: -8px;
    color: #666;
    font-size: 12px;
    font-weight: 600;
    margin-right: 20px;
}

/*!----- for phone ----------- */
.phone{
    position: relative;
    right: 100px;
    /* letter-spacing: -1px; */
    /* font-weight: 500; */
}
.phone img{
    position: relative;
    top: -7px;
    width: 14px;
}
.phone p{
    /* color: #666;
    font-size: 10px;
    position: relative;
    top: -10px; */
    color: #666;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    margin-right: 20px;
}


/*!----------- for whatsapp---------- */
.whatsapp{
    position: relative;
    right: 180px;
    display: flex;
    flex-direction: row;
}
.whatsapp i{
    color: #666;
    width: 14px;
    position: relative;
    top: 2px;
    right: 3px;
}
.whatsapp p{
    color: #666;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    margin-right: 20px;
}

/*!----------FOR FLAG---- */
.flag img{
    position: relative;
    top: -15px;
    width: 20px;
    right: 390px;
}


/* !-------FOR SYLANI LOGO------ */
.container-fluid img{
    width: 200px;
    position: relative;
    left: 100px;
}
.visit{
    position: relative;
    right: 280px;
    
    color: #666;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    margin-right: 20px;
}

/* !---------FOR ENGLISH BUTTON------ */
#English{
    position: relative;
    top: -15px;
    right: 10px;
    background-color: #fff;
    height: 70;
    width: 80px;
    border: 1px solid white;
}
#English a{
    font-size: 15px;
    font-weight: 400;
}


/* !---------FOR NAVBAR 2---------- */
.navbar{
    position: fixed;

    border: 3px solid #eee;
    /* height: 95px; */
}

/* !--------NAVBAR 2 ALL BUTTONS--- */
#nav2-btn{
    position: relative;
    left: 120px;
    font-size: 14px;
}
#nav2-btn li{
    margin-left: 20px;
}
#other-web{
    animation-name: other-web1;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    
}
@keyframes other-web1{
    from{color: #0d6db7;}
    to {color: #8dc63f;}
}
form{
    position: relative;
    right: 80px;
}


/* !-------NAVBAR 2 BTN 1ST--- */
.btn-1{
    
    background-color: #0d6db7;
    height: 40px;
    width: 146px;
    margin-right: 4px;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
    transition: transform 0.2s; /* Smooth transition */
}

.btn-1:hover {
  transform: scale(1.1); /* Zoom in on hover */
}

/* !-------NAVBAR 2 BTN 2ND-------- */
.btn-2{
    
    background-color: #8dc63f;
    height: 40px;
    width: 146px;
    margin-right: 10px;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 12px;
    
    cursor: pointer;
    transition: transform 0.2s; /* Smooth transition */
}

.btn-2:hover {
  transform: scale(1.1); /* Zoom in on hover */
}


/* !-------HOME PAGE  */
.home-pic img{
    height: 520px;
    /* height: 250px; */
    position: relative;
    left: 800px;
    top: 30px;
}


/* !--------FOR CIRCLE Effect on home content---- */
.circle-red{
    position: absolute;
    width: 25px;
    height: 25px;
    background: #ffdabd;
    border: 0px solid black;
    border-radius: 50%;
    top: 130px;
    right: 100px;

}
.blue-red{
    position: absolute;
    width: 60px;
    height: 60px;
    background: #eaebff;
    border: 0px solid black;
    border-radius: 50%;
    top: 210px;
    left: 110px;

}
.blue2-red{
    position: absolute;
    width: 60px;
    height: 60px;
    background: #eaebff;
    border: 0px solid black;
    border-radius: 50%;
    top: 179px;
    right: 589px;

}
.blue3-red{
    position: absolute;
    width: 60px;
    height: 60px;
    background: #eaebff;
    border: 0px solid black;
    border-radius: 50%;
    top: 500px;
    left: 580px;

}


/* !--------text area on HOME PAGE---------- */
.home-text{
    /* line-height: 50px; */
    position: absolute;
    top: 240px;
    left: 100px;

}
.home-text .title{
    font-size: 38px;
    font-weight: 600;
}
.title b{
    color: #8dc63f;
}
.home-text h3{
    position: relative;
    top: 15px;
    font-size: 24px;
    font-weight: 600;
}
.home-text h3 span{
    color: #0d6db7;
}
.paragraph{
    position: relative;
    top: 20px;
}
.home-text button{
    position: relative;
    top: 20px;
    /* left: 10px; */
    width: 150px;
    height: 70px;
    background: transparent;
    border: 1px solid black;
    border-radius: 4px;
}
.home-text button a{
    text-decoration: none;
    color: black;
    font-size: 12px;
}
.home-text button i{
    color: #666;
    /* width: 200px; */
    /* background: #000; */
}


/* !-------next section named "banner 2" */
.banner2{
    width: 500px;
    height: 100vh;
    /* background: #9a9595; */
}
.nav3{
    position: relative;
    top: 90px;
    background: #f0fcdb;
    border: 1px solid #eaebff;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    position: relative;
    left: 30px;

}
.nav3 button{
    height: 53px;
    background:#fff;
    /* padding: 60px; */
    font-weight: 600;
}
.nav3 button:hover{
    background: #424242;
    color: white;
}
.nav3 span{
    /* display: inline; */
    width: 285px;
    height: 55px;
    padding: 15px;
    background: #424242;
    color: white;
    align-items: center;
    display: flex;
    font-weight: 600;
    border: 1px solid #424242;
    border-radius: 7px;
}
.nav3 input{
    width: 170px;
    height: 53px;
    padding: 15px;
}

/* !------last different color button in navbar3 */
#different{
     
    border: 1px solid #8dc63f;
    border-radius: 7px;
    background: #8dc63f;
    color: white;
    cursor: pointer;
    transition: transform 0.2s; /* Smooth transition */
}

#different:hover {
  transform: scale(1.1); /* Zoom in on hover */
}


/* !-------large image in section 2 ------- */
#carouselExampleIndicators{
    width: 1200px;
    /* height: -300px; */
    position: relative;
    top: 110px;
    left: 30px;
    border-radius: 4px;
    margin-left: 10px ;
}

/* !------banner 3 start------- */

.banner3{
    /* background: #000; */
    width: 400px;
    height: 10000px;
    position: relative;
    top: 200px;
}
.banner3 h1{
    margin-left: 40%;
    margin-right: 30%;
    color: rgba(0, 0, 0, .85);
    font-size: 30px;
    font-weight: 600;
    line-height: 1.35;
    margin-top: .5em;

}

/* !----------Services box design */
.service-box{
    display: flex;
    flex-direction:row;
    justify-content: space-between;

}

.box{
    background: #f0fcdb;
    width: 190px;
    height: 150px;
    padding: 20px;
    margin: 40px 0px 0px;
    border-radius: 10px;
}

.service-box img{
    width: 70px;
    /* height: 70px; */
}
.service-box p{
    color: rgba(0, 0, 0, .85);
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: .5em;
    /* width: 150px; */
}


/* !-------welfare --------- */
.welfare{
    
    transition: transform 0.2s; /* Smooth transition */
}

.welfare:hover {
  transform: scale(1.1); /* Zoom in on hover */
}
.welfare img{
    position: relative;
    left: 0px;
    width: 60px;
    height: 70px;
    
}
.welfare p{
    text-align: center;

}

/* !-------medical --------- */
.medical{
    
    transition: transform 0.2s; /* Smooth transition */
}

.medical:hover {
  transform: scale(1.1); /* Zoom in on hover */
}
.medical img{
    position: relative;
    width: 55px;
    height: 70px;
    left: 10px;
}
.medical p{
    text-align: center;

}

/* !-------online sadaqah --------- */
.online-sadqah{
    
    transition: transform 0.2s; /* Smooth transition */
}

.online-sadqah:hover {
  transform: scale(1.1); /* Zoom in on hover */
}
.online-sadqah img{
    position: relative;
    width: 40px;
    height: 70px;
    left: 10px;
}
.online-sadqah p{
    text-align: center;

}

/* !-------clean water --------- */
.clean-water{
    
    transition: transform 0.2s; /* Smooth transition */
}

.clean-water:hover {
  transform: scale(1.1); /* Zoom in on hover */
}
.clean-water img{
    position: relative;
    width: 60px;
    height: 70px;
    left: 10px;
}


.clean-water p{
    text-align: center;

}


/* !-------Education --------- */
.education{
    
    transition: transform 0.2s; /* Smooth transition */
}

.education:hover {
  transform: scale(1.1); /* Zoom in on hover */
}
.education img{
    position: relative;
    width: 60px;
    height: 70px;
    left: 10px;
}
.education p{
    text-align: center;

}


/* !-------food --------- */
.food{
    
    transition: transform 0.2s; /* Smooth transition */
}

.food:hover {
  transform: scale(1.1); /* Zoom in on hover */
}

.food img{
    position: relative;
    width: 70px;
    height: 65px;
    left: 2px;
}
.food p{
    text-align: center;
}



/* !-------IT card ----1st----- */

.cards{
    border-radius: 10px;
    bottom: 0;
    display: flex;
    flex-direction: row;
    height: 350px;
    justify-content: space-between;
    padding: 10px;
    position: relative;
    top: 15px;
    /* position: absolute; */
    
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
    border: 1px solid white;
    border-radius: 10px;
}

.card-text{
    display: flex;
    color: white;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    margin: 10px 0px 3px 10px;
}
.card-body button{
    background-color: #8dc63f;
    color: white;
    border: none;
    font-size: 14px;
    outline: none;
    padding: 10px 30px;
    width: 95%;
    border-radius: 7px;
    margin: 10px;
}
.card-body button a{
    color: white;
    text-decoration: none;
}

.it-card{
    background-image:linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.75)),url(./images/smit.jpg);
    background-position: center;
    background-size: cover;
    width: 402px;
    height: 300px;
    padding: 10px;
    margin: 0px 15px 0px 15px;
    
    transition: transform 0.2s; /* Smooth transition */
}

.it-card:hover {
  transform: scale(1.05); /* Zoom in on hover */
  background-image:linear-gradient(rgba(0, 0, 0, 0.45),rgba(0, 0, 0, 0.45)),url(./images/smit.jpg);
    background-position: center;
    background-size: cover;
    
}


.daily-food{
    background-image: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.75)),url(./images/daily\ food.jpg);
    background-position: center;
    background-size: cover;
    width: 402px;
    height: 300px;
    padding: 10px;
    margin: 0px 15px 0px 15px;
    
    transition: transform 0.2s; /* Smooth transition */
}

.daily-food:hover {
  transform: scale(1.05); /* Zoom in on hover */
  background-image: linear-gradient(rgba(0, 0, 0, 0.45),rgba(0, 0, 0, 0.45)),url(./images/daily\ food.jpg);
    background-position: center;
    background-size: cover;
  
}


.zakat{
    background-image: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.75)),url(./images/zakat.jpg);
    background-position: center;
    background-size: cover;
    width: 402px;
    height: 300px;
    padding: 10px;
    margin: 0px 5px 0px 15px;
    
    transition: transform 0.2s; /* Smooth transition */
}

.zakat:hover {
  transform: scale(1.05); /* Zoom in on hover */
  background-image: linear-gradient(rgba(0, 0, 0, 0.45),rgba(0, 0, 0, 0.45)),url(./images/zakat.jpg);
  background-position: center;
  background-size: cover;
}


/* !------other project start-------- */
.other-projects{
    /* background: #ccc9c9; */
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    row-gap: 10px;
}
.image{
    width: 616px;
    height: 460px;
    margin: 30px 0px 0px 18px;
    background-image: url(./images/distribution\ 2.jpg);
    border: 1px solid white;
    border-top-left-radius: 60px;
}
.image .section2{
    background-color: transparent;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top-left-radius: 60px;
    height: 50%;
    position: relative;
    right: 0px;
    top: 0;
    width: 50%;
    background: #8dc63f;
    padding-right:30px ;
    padding-left:30px ;
    
}
.section2 h3{

    color: white;
    font-weight: 600;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.35;
    margin-bottom: 20px;
    text-align: center;    
}

.image .section3{
    background-color: transparent;
    border: 1px solid #fff;
    /* border-top-left-radius: 100px; */
    height: 50%;
    position: relative;
    right: 0px;
    top: 0;
    width: 50%;
    /* background: #8dc63f; */
}
.image .section3{
    background-color: transparent;
    border: 1px solid #fff;
    /* border-top-left-radius: 100px; */
    height: 50%;
    position: relative;
    float: right;
    right: 0px;
    top: 0;
    width: 50%;
    /* background: #8dc63f; */
}
.text{
    margin-top: 85px;
    margin-left: 60px;
    width: 610px;
    height: 482px;
    /* background: #d6d4d4; */
    line-height: 25px;
    /* display: inline; */
}

.other-projects h2{
    color: rgba(0, 0, 0, .85);
    font-size: 30px;
    font-weight: 600;
    position: absolute;
    /* top: 10px; */
    right: 430px;
    height: 30px;
    margin-top: 30px;
    margin-bottom: .5em;
    z-index: 3;
}
.text h5{
    /* display: inline; */
    font-size: 16px;
    font-weight: 600;
    margin-bottom: .5em;
    color: #0d6db7;
}
.text span{
    color: rgba(0, 0, 0, .85);
    word-break: break-word;
    font-size: 14px;
}



.rounds{
    width: 30px;
    height: 50px;
    position: absolute;
    right: 630px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    /* background: #000; */
}
.rounds .div1{
    
    width: 25px;
    height: 50px;
    border-radius: 10px;
    position: absolute;
    top: 90px;
    background: #eee;
}
.rounds .div2{
    width: 20px;
    height: 50px;
    border-radius: 10px;
    position: absolute;
    top: 170px;
    background: #eee;
}
.rounds .div3{
    width: 20px;
    height: 50px;
    border-radius: 10px;
    position: absolute;
    top: 270px;
    background: #eee;
}

.rounds .div4{
    width: 20px;
    height: 50px;
    border-radius: 10px;
    position: absolute;
    top: 375px;
    background: #eee;
}

/* !------cards section in banner 3------ */

.blue-counter{
    background-image: url(./images/blue\ bg\ fixed.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 97%;
    height: 442.5px;
    color: #fff;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -50px;
    left: 20px;
}
.blue-counter .cards{
    /* background: #000; */ 
    display: flex;
    flex-direction: row;
    width: 120px;
    height: 242px;
    /* background: #fff; */

}
.card-1{
    position: relative;
    top: 80px;
    left: 90px;
    
}
.cards .img1{
    background: #fff;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    align-items: center;
    justify-content: center;
    /* background-attachment: fixed; */

}
.img1 img{
    /* background: #a33434; */
    width: 60px;
    height: 60px;
    position: relative;
    left: 30px;
    top: 35px;

}
.cards h2{
    font-weight: 600;
    margin-top: 10px;
}
.cards span{
    margin-left: 35px;
    display: flex;
    
}

/* !----card 2------- */
.card-2{
    position: relative;
    top: 80px;
    left: 290px;
    
}
.cards .img2{
    background: #fff;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    align-items: center;
    justify-content: center;
    /* background-attachment: fixed; */

}
.img2 img{
    /* background: #a33434; */
    width: 60px;
    height: 60px;
    position: relative;
    left: 30px;
    top: 35px;

}
.cards h2{
    font-weight: 600;
    margin-top: 10px;
    margin-left: 10px;
}
.cards span{
    margin-left: 35px;
    display: flex;

}

/* !----card 3------- */
.card-3{
    position: relative;
    top: 80px;
    left: 500px;
    
}
.cards .img3{
    background: #fff;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    align-items: center;
    justify-content: center;
    /* background-attachment: fixed; */

}
.img3 img{
    /* background: #a33434; */
    width: 60px;
    height: 60px;
    position: relative;
    left: 30px;
    top: 35px;

}
.cards h2{
    font-weight: 600;
    margin-top: 10px;
}
.cards span{
    margin-left: 35px;
    display: flex;

}

/* !----card 4------- */
.card-4{
    position: relative;
    top: 80px;
    left: 680px;
    
}
.cards .img4{
    background: #fff;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    align-items: center;
    justify-content: center;
    /* background-attachment: fixed; */

}
.img4 img{
    /* background: #a33434; */
    width: 60px;
    height: 60px;
    position: relative;
    left: 30px;
    top: 35px;

}
.cards h2{
    font-weight: 600;
    margin-top: 10px;
}
.cards span{
    margin-left: 35px;
    display: flex;

}

/* !-----ID SLIDER----- */

.slide-section h5{
    display: flex;
    justify-content: center;
    color: #8dc63f;
    font-size: 16px;
}
.slide-section h2{
    display: flex;
    justify-content: center;
    color: #000000D9;
    font-size: 30px;
    font-weight: 600;
    margin-top: 20px;
}
.carousel .carousel-inner {
    width: 1355px;
    position: relative;
    left: -80px;
    height: 475px;
}
#slide-1{
    display: flex;
    flex-direction: column;
    
    /* justify-content: center; */
}
#slide-1 img{
    border-radius: 50%;
    width: 100px;
    position: relative;
    top: -245px;
    margin-right: 90px;
}
#slide-1 h3{
    position: relative;
    top: -235px;
    font-size: 20px;
    color: #0d6db7;
    font-weight: 600;
    margin-left: 100px;
}
#slide-1 h6{
    position: relative;
    top: -235px;
    font-size: 14px;
    margin-left: 100px;
}
#slide-1 span{
    position: relative;
    top: -235px;
    font-size: 14px;
    line-height: 30px;
    /* width: 120%; */
}



#slide-2{
    display: flex;
    flex-direction: column;
    
    /* justify-content: center; */
}
#slide-2 img{
    border-radius: 50%;
    width: 100px;
    position: relative;
    top: -245px;
    margin-right: 90px;
}
#slide-2 h3{
    position: relative;
    top: -235px;
    font-size: 20px;
    color: #0d6db7;
    font-weight: 600;
    margin-left: 100px;
}
#slide-2 h6{
    position: relative;
    top: -235px;
    font-size: 14px;
    margin-left: 100px;
}
#slide-2 span{
    position: relative;
    top: -235px;
    font-size: 14px;
    line-height: 30px;
    /* width: 120%; */
}
#slide-buttons{
    position: absolute;
    left: 900px;
    /* justify-content: space-between; */
}
#slide-buttons button{
    width: 52px;
    height: 52px;
}
#slide-buttons button span{
    font-size: 32px;
}
#btn1{
    /* border: 3px solid rgb(28, 15, 15) ; */
    position: relative;
    left: 40px;
    /* background: #000; */
}
#btn2{
    position: relative;
    left: 70px;
    /* background: #000; */
}


/* !----------------------------------------------------- */
/* !----------------------------------------------------- */

/* !------START MEDIA SECTION------------ */

.media-section h2{
    color: rgba(0, 0, 0, .85);
    font-size: 30px;
    font-weight: 600;
    line-height: 1.35;
    margin-top: 80px;
    display: flex;
    justify-content: center;
}
.card{
    margin-right: 20px;
    /* height: 10200px; */
    /* outline: 1px solid #da0f0f; */
}
.row-1{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-left: 50px;
}

.card .img{
    background-position: center;
    background-size: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 220px;
    position: absolute;
    width: 100%;
}
.card img{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;

}
.card .blue-line{
    background: #1890ff;
    color: #fff;
    width: 45%;
    font-size: 14px;
    top: 7px;
    right: -10px;
    position: absolute;
    justify-content: center;
    display: flex;
    z-index: 3;
}

.card .card-body{
    position: relative;
    top: 210px;
    border-bottom: 1px solid #f0f0f0;
    border-top: none;
    display: flex;
    justify-content: flex-start;
}
.card p{
    color: black;
    font-size: 16px;
    z-index: 3;
}
.card span{
    font-size: 12px;
}
.row-2{
    display: flex;
    flex-direction: row;
    position: relative;
    top: 250px;
    margin-left: 50px;
}


/* !-----NEW SECTION------ */
.news-section{
    position: relative;
    top: 450px;

}
.news-section h2{
    color: rgba(0, 0, 0, .85);
    font-size: 30px;
    font-weight: 600;
    line-height: 1.35;
    margin-top: 80px;
    display: flex;
    justify-content: center;
}
.news-section .card{
}

.news-section .row1{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-left: 50px;
}
.news-section .img{
    /* height: 80%; */
}
.news-section span{
    background: #8dc63f;
    color: #fff;

}
.news-section .card-body{
    background: #eee;
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
}
.news-section .card-title{
    font-size: 10px;
    width: 107px;
    height: 27px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    padding-top: 5px;
    margin: 10px;


}
.news-section .card-text{
    font-size: 16px;
    position: relative;
    right: 20px;
}
.news-section #news-btn{
    width: 20px;
    height: 40px;
    background: #fff;
}
.news-section #news-btn a{ 
    font-size: 20px;
    position: relative;
    top: -10px;
    right: 20px;
    color: black;
}
.card2{
    position: relative;

}
.card3{
    position: relative;
    left: 300px;
}
.card4{
    position: relative;
    left: 300px;
}

/* !----SYLANI Guide---- */
.sylani-input{
    background-image: url(./images/blue\ 2\ bg.png);
    background-size: cover;
    background-position: center;
    position: relative;
    top: 550px;
    right: 300px;
    width: 1200px;
    height: 260px;
}
.sylani-input h2{
    color: white;
    font-size: 30px;
    position: relative;
    top: -60px;

}
.sylani-input form{
    /* background: #000; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    width: 500px;
    position: relative;
    left: 350px;
    top: -70px;
}
form #email{
    width: 540px;
    height: 54px;
    padding: 15px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    color: white;


}
form #button{
    width: 540px;
    height: 54px;
    padding: 15px;
    border: 1px solid white;
    border-radius: 5px;
}

/* !----footer----- */
.footer-section{
    width: 1524px;
    height: 780px;
    position: absolute;
    top: 700px;
    left: -470px;
    background-image: url(./images/grey\ bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;


}
.footer-section .part-1{
    display: flex;
    flex-direction: row;
    position: relative;
    top: 400px;
}
.part-1 .boxes{
    
    padding-right: 70px;
    padding-left: 70px;
}
.list-img{
    display: flex;
    flex-direction: row;
}